*{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(122, 121, 121) ;
    padding: 10px;
}
.logo{
    width: 80px;

}
li{
    list-style: none;
    font-size: 20px;
}
li:hover{
    color:blue ;
    cursor: pointer;
}
.menu-container{
    display: flex;
    gap: 15px;
}
.banner-img{
width: 350px;

}
.banner-container{
 display: flex;
 justify-content:space-around ;
 align-items: center; 
 width: 100%;
 margin: auto; 
 /* background-image: url(images/OIP.jpeg);  */

}
.banner left{
    width: 400px;
    line-height: 2.5;
    
}
.banner right{
    width:  50%;
    margin: auto;

}
.btn{
    padding: 15px 30px;
    border: none;
    color: white;
    cursor: pointer;
}
.hire-btn{
    background-color:rgb(47 ,30,64) ;
}
.Project-btn{
    background-color: rgb(5, 44, 88)
}
.title{
    font-size: 40px;
}
.services-container{
    margin-top:30 px ;
}
.Stitle{
    margin-top: 30px;
   font-size: 35px;
   text-align: center; 
}
.service-card{
    width: 300px;
    height: 430px;
    /* border: 1px solid gray; */
    box-shadow: 4px 4px 8px grey;
    border-radius: 7px;
    text-align: center;
    margin-top: 50px;

}
.service-img{
    width: 250px;
    height: 150px;
}
.service-cade-btn{
   padding: 15px 25px ; 
   background-color: rgb(42, 82, 82);
   border: none;
   font-size: 18px;
   color: white;
   
}
.service-dp{
    margin: 10px;
}
.services{
    display: flex;
    justify-content:center ;
    gap: 60px;
}
a{
text-decoration: none;
color: white;
}
.content-us{    
padding: 50px;
width: 500px;
margin: auto;
box-shadow:4px 4px 8px gray ;
text-align: center;
margin-top: 30px;
}
.input-box{
    padding: 15px ;
    width: 50%;
    margin-top: 10px;
}
.Massage{
   width: 40%;
   height: 100px;
   margin-top: 15px; 
}
.submit-btn{
    width: 25%;
    padding: 15px;
    background-color: blue;
    color: white;
    border: none;
    margin-top: 15px;
}

@media only screen and (min-width:400px) and (max-width:766px)
{
    body{
        background-color: chartreuse;
    }
    .services{
        display:block ;
        width: 100%;
        margin: auto;
    }
}
@media only screen and (min-width:768px) and (max-width:992px)
{
    body{
        background-color: steelblue;
    }
}